<br><br><br>
<div class="container">
  <div class="row">

    <div class="col-md-12 text-center">
      <h2> <%= @judgment.title %> </h2>
      <div>
        <p>
          <%== @judgment.description %>
        </p>
      </div>
    </div>
  </div>
</div>
