<footer class="footer">
  <div class="container">

      <hr>
    <div class="row">

      <div class="col-xs-4 col-sm-4 col-md-4 text-left">
        <a href="https://210.76.68.130:8443/cas/login?service=http://210.76.68.61:80/fpy/a/login" >链接：广东扶贫云</a>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 text-center">
        <p>帮扶单位：龙岗区坂田街道办、科技创新局、汕尾市科协</p>
      </div>
      <div class="col-xs-4 col-sm-4 col-md-4 text-right">
        <p>制作：下埔驻村工作队</p>
      </div>
    </div>
  </div>
</footer>
